html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img{ margin:0; padding:0;font-family: "微软雅黑"; }
fieldset, img { border:none;}
ul,li,ol,dl,dt,dd { list-style:none;} 
a{ color:#fff; text-decoration:none; }
a:hover{ color:#a10d14;}
.bg-color{background:#eee;}
.bg-color1{background:#fff;}
.l{float:left}
.r{float:right}
.hid{overflow:hidden}
.hidden{display:none}
.clear{clear:both;}
.center{width:100%;margin:0 auto;}
.min-width{min-width:1500px}
.clear_hidden{overflow: visible;}